---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
</div>

<div class="category-page-posts animated fadeIn ">
    {% comment %}Only the first preview that has an image loads it eagerly.{% endcomment %}
    {% assign eager_preview = true %}
    {% for post in site.categories[page.category] %}
    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">

        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        {% assign preview = post.excerpt | truncate_html_words: 28 | lazy_images: eager_preview %}
        {{ preview }}
        {% if preview contains "<img" %}{% assign eager_preview = false %}{% endif %}

        <p class="meta">
                {% assign words = post.content | strip_html | number_of_words %}
                {% if words < 360 %}
                    {% assign readTime = '1 minute' %}
                {% else %}
                    {% assign readTime = words | divided_by:180 | append: 'minutes' %}
                {% endif %}
            <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize }}</a> {% if post.categories.first %}in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize}}</a>{% endif %} <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ readTime }}
        </p>

        </div>

        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src='{{ "/img/" | append: post.author_avatar | prepend: site.baseurl }}.jpg' class="user-icon user-1" alt="user-image" loading="lazy" decoding="async">
        </div>
        {% endif %}

    </article>

    {% endfor %}
</div>
