---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Tutorials</a>
</div>

<div class="home-page-posts animated fadeIn ">

    {% for post in paginator.posts %}

    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <span style="font-size:13px">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.content | truncatewords: 28 }}
            </a>
            <p class="read-more"><a href="{{ post.url | prepend: site.baseurl }}"><button class="btn">Read More</button></a></p>

            <p class="meta">
                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name }}</a> 
                in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a> 
                <i class="link-spacer"></i> 
                <i class="fa fa-bookmark"></i> {{ post.read_time }} minutes
            </p>
        </div>


        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}
    </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for tutorial in site.tutorials %}
                {% capture modulo %}{{ forloop.index | minus:1 | modulo:3 }}{% endcapture %}
                {% if modulo == '0' %}
                <div class="category-preview col-xs-12 col-sm-12 ">
                {% else %}
                <div class="category-preview col-xs-12 col-sm-6 ">
                {% endif %}
                    {{ modulo }}
                    <h2>{{ tutorial.title | first | capitalize }}</h2>
                    <a href="{{ tutorial.url | prepend: site.baseurl }}">
                        <h2>{{ tutorial.title }}</h2>
                        <img src='{{ site.baseurl }}/img/{{tutorial.feature_image}}.jpg' alt="category-image">
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
