---
layout: default
---

{% assign page_feature_image = "/img/" | append: page.feature_image | prepend: site.baseurl | append: ".jpg" %}
{% assign hero_image_url = page_feature_image | netlify_image_url: 2400 %}
{% include hero-preload.html url=hero_image_url %}
<header class="hero-image" style="background-image: url('{{ hero_image_url }}');">
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav.html %}
</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">

            <h1>{{ page.title }}</h1>

            {{ content | lazy_images }}

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

{% include footer-page.html %}
