---
layout: default
---

{% if page.netlifycms %}
    {% assign displayImage = site.baseurl | append: page.feature_image %}
{% else %}
    {% assign displayImage = site.baseurl | append: "/img/" | append: page.feature_image | append: ".jpg" %}
{% endif %}

{% assign hero_image_url = displayImage | netlify_image_url: 2400 %}
{% include hero-preload.html url=hero_image_url %}
<header class="hero-image" style="background-image: url('{{ hero_image_url }}');">
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav.html %}
</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                {% assign words = page.content | strip_html | number_of_words %}
                {% if words < 360 %}
                    {% assign readTime = '1 minute' %}
                {% else %}
                    {% assign readTime = words | divided_by:180 | append: 'minutes' %}
                {% endif %}
                <a href="{{ page.author_url | prepend: site.baseurl }}">{{ page.author_name | capitalize}}</a> {% if page.categories.first %}in <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories[0] | capitalize }}</a>{% endif %} <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ readTime }}
            </p>

            <h1>{{ page.title }}</h1>

            {{ content | lazy_images | image_sizes: "content" }}

        </div><!-- main-content/col -->
    </div> <!--/row -->
    {% if site.disqus and page.comments %}
        {% include disqus.html %}
    {% endif %}
</main> <!-- /container -->



<footer class="single">
    {% include footer-single.html %}

    {% if page.show_related_posts == true %}
        {% include footer-related-posts.html %}
    {% endif %}
</footer>
